<div class="container">
  <button class="btn btn-default" (click)="navigateToHome()">Back</button>
  <div class="row">
    <div class="col-sm-12">
      <h1>{{temparatureDetails?.city?.name}}</h1>
    </div>
  </div>
  <div class="row column-header">
    <div class="col-sm-4"><span>Date</span>
    </div>
    <div class="col-sm-4"><span>Temparature</span>
    </div>
    <div class="col-sm-4"><span>SeaLevel</span>
    </div>
  </div>
  <div class="row column-data" *ngFor="let tempDetails of temparatureDetails.list">
    <div class="col-sm-4"><span>{{tempDetails.dt * 1000 | date: 'yyyy/MM/dd HH:mm:ss'}}</span>
    </div>
    <div class="col-sm-4"><span>{{tempDetails.temp.day}}</span>
    </div>
    <div class="col-sm-4"><span>{{tempDetails.pressure}}</span>
    </div>
  </div>
</div>